@{
    ViewData["Title"] = "About";
}





<!DOCTYPE html>
<html lang=”en”>
<head>


    <meta charset="utf-8" />
    <meta naem="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Home Page</title>
    <style>
        body {
            font-family: Ariel;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h2 {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        nav {
            background-color: #555;
            padding: 10px;
            text-align: center;
        }

            nav a {
                color: #fff;
                text-decoration: none;
                margin: 0 10px;
            }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff:
        }

        .book {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }

            .book img {
                width: 200px;
                height: 300px;
                margin: 10px;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0,0,0,2);
            }

    </style>
</head>
<body>

    <h1>About Us</h1>

    <p>
        Thato is the passionate creator behind KhumaloCraft, a vibrant online
        platform that aims to highlight the wide range of skills and
        inventiveness possessed by South African artists and makers. Thato
        realized there was a need for a specialized platform where South African
        creatives could showcase their knowledge and abilities to a global
        audience, after being inspired by his own exploration journey through
        online courses.By providing a lively marketplace where people can find
        and interact with a variety of courses and tutorials, KhumaloCraft
        seeks to democratize education by bridging the gap between traditional
        academia and easily accessible, reasonably priced learning opportunities.
        KhumaloCraft offers a wide range of video-based courses taught by skilled
        South African teachers, covering everything from painting to pottery,
        animation to traditional crafts. .
    </p>



    <!--Centered Image Start-->

    <div style="text-align: center;">

        <img width="400" img src="~/images/butterfly logo.jpg">

    </div>

    <!--Centered Image End-->


</body>
</html>
