@model WebApplication1.Models.Product

@{
    ViewData["Title"] = "Add Product";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta naem="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Home Page</title>
    <style>
        body {
            font-family: Ariel;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        p {
            text-align: center;
        }

        nav {
            background-color: #555;
            padding: 10px;
            text-align: center;
        }

            nav a {
                color: #fff;
                text-decoration: none;
                margin: 0 10px;
            }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
        }

        .book {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }

            .book img {
                width: 200px;
                height: 300px;
                margin: 10px;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0,0,0,2);
            }

    </style>
    </head>
    <body>

<h1>Add Product</h1>

<form asp-action="AddProduct" method="post">
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Price" class="control-label"></label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category" class="control-label"></label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Availability" class="control-label"></label>
            <input asp-for="Availability" class="form-control" />
            <span asp-validation-for="Availability" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
        </div>
</form>

</body>
</html>
