@model WebApplication1.Models.Order

<h2>Create Order</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="UserID" class="control-label"></label>
        <input asp-for="UserID" class="form-control" />
        <span asp-validation-for="UserID" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>
