@{
    ViewData["Title"] = "My Work";
}


<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta naem="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Home Page</title>
        <style>
            body {
                font-family: Ariel;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }

            header {
                background-color: #333;
                coclor: #fff;
                padding: 20px;
                text-align: center;
            }
            h1{
            background-color: #333;
            coclor: #fff;
            padding: 20px;
            text-align: center;
            }
            p{
            text-align: center;
            }

            nav {
                background-color: #555;
                padding: 10px;
                text-align: center;
            }

                nav a {
                    color: #fff;
                    text-decoration: none;
                    margin: 0 10px;
                }

            .container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff:
            }

            .book {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 20px;
            }

                .book img {
                    width: 200px;
                    height: 300px;
                    margin: 10px;
                    border-radius: 5px;
                    box-shadow: 0 0 5px  rgba(0,0,0,2);
                }

        </style>
  

    <title>KhumaloCraft-My Work</title>
        </head>
    <body>
        <h1>My Work</h1>
    <div class="craft-item">
        <img width="55" img src="~/images/craftwork4.jpg" alt=" craftwork" class="center">
        <p> Description: African Kaleidoscope      </p>
        <p>Price: R1500.00</p>
    </div>

    <div class="craft-item">
        <img width="55" img src="~/images/craftwork5.jpeg" alt=" craftwork" class="center">
        <p> Description: Wildlife Harmony Vase </p>
        <p>Price: R800.00</p>
    </div>

    <div class="craft-item">
        <img width="55" img src="~/images/craftwork6.jpeg" alt=" craftwork" class="center">
        <p> Description:Nature's Tapestry Vase      </p>
        <p>Price: R1200.00</p>
    </div>

    <div class="craft-item">
        <img width="55" img src="~/images/craftwork7.webp" alt=" craftwork" class="center">
        <p> Description: A Visual Journey </p>
        <p>Price: R2300.00 </p>
    </div>

    <div class="craft-item">
        <img width="55" img src="~/images/craftwork8.webp" alt=" craftwork" class="center">
        <p> Description: Golden Mirage </p>
        <p>Price:R5000.00 </p>
    </div>


</body>
</html>
