
@{
    ViewData["Title"] = "Orders";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta naem="viewport" content="width=device-width,initial-scale=1.0" />
    <title>Home Page</title>
    <style>
        body {
            font-family: Ariel;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        h1 {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
        }

        p {
            text-align: center;
        }

        nav {
            background-color: #555;
            padding: 10px;
            text-align: center;
        }

            nav a {
                color: #fff;
                text-decoration: none;
                margin: 0 10px;
            }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
        }

        .book {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 20px;
        }

            .book img {
                width: 200px;
                height: 300px;
                margin: 10px;
                border-radius: 5px;
                box-shadow: 0 0 5px rgba(0,0,0,2);
            }

    </style>
    </head>
    <body>

    <h1>Order Details</h1>
    <table class="table">
        <thead>
            <tr>
                <th>UserId</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.UserId</td>
                    <td>
                        <ul>
                            @foreach (var item in order.OrderItems)
                            {
                                <li>@item.Product.Name - @item.Quantity</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
          
      


 </body>
</html>

