@{
    ViewData["Title"] = "Contact Us";
}
<h1>@ViewData["Title"]</h1>

<!DOCTYPE html>
   <html lang="en">
       <head>
    
        <meta charset="utf-8" />
        <meta naem="viewport" content="width=device-width,initial-scale=1.0" />
        <title>Home Page</title>
        <style>
            body {
                font-family: Ariel;
                margin: 0;
                padding: 0;
                background-color: #f4f4f4;
            }

            header {
                background-color: #333;
                color: #fff;
                padding: 20px;
                text-align: center;
            }
            h1{
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            }
            h2{
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            }
            h3{
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            }


            nav {
                background-color: #555;
                padding: 10px;
                text-align: center;
            }

                nav a {
                    color: #fff;
                    text-decoration: none;
                    margin: 0 10px;
                }

            .container {
                max-width: 800px;
                margin: 20px auto;
                padding: 20px;
                background-color: #fff:
            }

            .book {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                margin-top: 20px;
            }

                .book img {
                    width: 200px;
                    height: 300px;
                    margin: 10px;
                    border-radius: 5px;
                    box-shadow: 0 0 5px rgba(0,0,0,2);
                }

       
               </style>
       </head>
       <body>
   

          
  

    <h3> Contact Information:</h3>
    <p>Email: contact92khumaloCrafts@gmail.com<br/>
        Phone Number: 021 635 7884 / 061 998 0125<br />
        Physical Address: 54 Jackson Crescent<br />
    </p>
    <h3> Social Media Links:</h3>
    <p>
        Instagram:Khumalo_Crafts<br />
        Facebook:KhumaloCrafts_2<br />
        Twitter:KhumaloCrafts_
    </p>
    <h3> Business Hours:</h3>
    <p>
        Monday-Friday : 08:00-17:00<br />
        Saturday:08:00-16:00<br />
        Sunday: 08:00-13:00
    </p>
       
       </body>
   </html>